<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
      
<ui:composition template="/layouts/commonLayout.xhtml">
<ui:define name="title">JSF Login Page</ui:define>
<ui:define name="content">       
        <div align="center">
		Hello my name is: #{user.firstName} #{user.lastName}<br/>
    	<h:form>
        <h:button value="Try Again" outcome="TestForm.xhtml" />
    	</h:form>
</div> 
</ui:define>
</ui:composition>

</html>