<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<ui:composition template="/layouts/commonLayout.xhtml">
<ui:define name="title">Reipe Login Page</ui:define>
<ui:define name="content">
        <!--  Login Form -->
        <div align="center">
        <h:form>
            First Name: <h:inputText id="firstname" value="#{user.firstName}" title="" /><h:message for = "firstname"/>
            Last Name: <h:inputText id="lastname" value="#{user.lastName}" title="" /><h:message for = "lastname"/>
            <h:commandButton value="Submit" action="#{formController.onSubmit(user)}" />
        </h:form>
        </div>

</ui:define>
</ui:composition>
<h:head>
<title>JSF Login Page</title>
</h:head> 
</html>
